src/main/mule/mc-lead-exp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="mc-lead-exp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mc-lead-exp-config" api="mc-lead-exp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mc-lead-exp-main">
        <http:listener config-ref="mc-lead-exp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mc-lead-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mc-lead-exp-console">
        <http:listener config-ref="mc-lead-exp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mc-lead-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\leads\(leadId):mc-lead-exp-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="beb5d73c-e7fe-4a34-b903-ec9ee7a3ddb0" message="*************************Get Lead Triggered*************************"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json 
---
p('prc.get.method')]]></ee:set-variable>
				<ee:set-variable variableName="url" ><![CDATA[%dw 2.0
output application/json
---
p('prc.url') ++ "/" ++ attributes.uriParams.'leadId']]></ee:set-variable>
				<ee:set-variable variableName="headers" ><![CDATA[%dw 2.0
output application/json
---
{
	"Content-Type": p('prc.contentType'),
	"client_secret": p('prc.client_secret'),
    "client_id": p('prc.client_id')
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference to commonRequestSub_Flow" doc:id="2327b63f-d635-474d-8f1a-e5773d45b4e7" name="commonRequestSub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="26b387ac-c012-484f-b1ed-de14c05f1983" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="94a689ae-069c-4910-a38f-9bd66f6aa592" message="*************************Get Lead Completed*************************" />
    </flow>
    <flow name="post:\leads:application\json:mc-lead-exp-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="f2564419-7fc0-43dc-af94-eef9ec434667" message="*************************Post Lead Triggered*************************" />
		<ee:transform doc:name="Transform Message" doc:id="143eb231-13df-4cb5-9ff5-fe121bf87587">
			<ee:variables>
				<ee:set-variable variableName="method"><![CDATA[%dw 2.0
output application/json 
---
p('prc.create.method')]]></ee:set-variable>
				<ee:set-variable variableName="url"><![CDATA[%dw 2.0
output application/json
---
p('prc.url')]]></ee:set-variable>
				<ee:set-variable variableName="headers"><![CDATA[%dw 2.0
output application/json
---
{
	"Content-Type": p('prc.contentType'),
	"client_secret": p('prc.client_secret'),
    "client_id": p('prc.client_id')
}]]></ee:set-variable>
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to commonRequestSub_Flow" doc:id="f1ef8f5c-96d3-4103-abc6-635a043c054e" name="commonRequestSub_Flow" />
		<ee:transform doc:name="Transform Message" doc:id="d7da91a7-06f5-42dd-a9ff-0ad236d6faf7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="45c71303-0efd-462e-8e17-4d2483de8e03" message="*************************Post Lead Completed*************************" />
    </flow>
</mule>
